@import "compass/reset";

* { margin: 0; padding: 0; box-sizing: border-box; }

body, html {
  background-color: #efefef;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
}

h1 {
  font-weight: 900;
  font-size: 1.5em;
  margin: 0 0 0.5em;
}

.wrapper {
  background-color: #fff;
  padding: 0;
  margin: 15px;
  border-radius: 15px;   
  overflow: hidden;     
}

.menu {
  padding: 15px;
  background-color: rgba(70, 90, 156, .5);

  ul {
    overflow: hidden;
  }

  li {
    float: left;
    overflow: hidden;
    padding: 5px;
    margin: 0 5px 0 0;

    a {
      color: #000;
    }
  }
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar {
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.025);
  width: 33%;
  float: left;
}

.main {
  width: 66%;
  margin-left: 33%;
  padding: 15px;
}

.list__interactions {
  margin: 0;
  padding: 20px 0;
  list-style-type: none;

  li {
    padding: 0 15px;
    margin: 0 0 15px 0;
    overflow: hidden;
  }

  img {
    float: left;
    margin: 0 10px 0 0;
    border-radius: 8px;
    max-width: 75px;
    width: 75px;
  }

  .int--name {
    font-weight: bold;
  }

  .int--json {
    display: none;
  }
}

.button {
  background-color: #8cc63e;
  padding: 7px 10px;
  margin-top: 10px;
  overflow: hidden;
  display: inline-block;
  border-radius: 4px;

  &:hover {
    background-color: #70a12f;
  }
}

a {
 &.button {
  text-decoration: none;
  color: #000;
 }
}

.checktoggle {
  position: relative;
  margin: 0px 10px -5px 10px;
  border-radius: 20px;
  background: #999;
  outline: 0;
  -webkit-appearance: none;
  cursor: pointer;
  width: 36px;
  height: 20px;
}

.checktoggle::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: calc((100% - 4px) / 2);
  height: calc(100% - 4px);
  border-radius: 50%;
  background: #eee;
  transition: all .1s linear;
}

.checktoggle:checked {
  background: #5b5;
}

.checktoggle:checked::after {
  transform: translateX(100%);
}

.client--count {
  background-color: rgba(0,0,0,0.66);
  padding: 8px;
  color: rgba(255,255,255,0.9);
  display: inline-block;
  border-radius: 6px 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.85em;  
}

.caller--details {
  display: none;

  .caller--avatar {
    img {
      float: left;
      margin: 0 10px 0 0;
      width: 175px;
      border-radius: 6px;
    }
  }
  .caller--name {
    font-size: 26px;
    font-weight: bold;
    margin: 0 0 .5em 0;
  }

  .caller--phone {
    margin: 0 0 0.5em;
  }
}

.caller--default {
  text-align: center;
  font-size: 20px;
  opacity: 0.5;
  margin-top: 70px;  
}

